*{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/*HEADER*/


header{
  display: flex;
  align-items: center;
  height: 80px;
  background-color: aqua;
}

header .container{
  display: flex;
  justify-content: space-between;
}

/*JUMBO*/

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  color: white;
  text-align: center;
  background-color: blue;
}

.jumbotron .content{
  max-width: 800px;
}

/* DEBUG */
.debug{
  background-color: rgba(255, 0, 0, .5);
}


/*MAIN*/

section.bg-grey{
  background-color: rgb(175, 175, 175);
}

section .container{
  display: flex;
  min-height: 500px;
  background-color: aquamarine;
}

section .container .image{
  width: 60%;
  /* DEBUG */
  background-color: aqua;
}


section .container .text{
  width: 40%;
    /* DEBUG */
  background-color: yellowgreen;
}

section.section-btn .container{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*FOOTER*/

footer{
  background-color: rgb(32, 32, 32);
}

.footer-top{
  display: flex;
  /*DEBUG*/
  min-height: 300px;
  background-color: yellow;
}

.footer-top .col-social{
  width: calc(100% / 3);
    /*DEBUG*/
    min-height: 200px;
    background-color: rgb(225, 0, 255);
}

.footer-top .col-menu{
  width: calc(100% / 6);
    /*DEBUG*/
    min-height: 200px;
    background-color: rgb(255, 0, 34);
    border: 1px solid black;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  /*DEBUG*/
  min-height: 200px;
  background-color: rgb(21, 255, 0);
}